@import '../../baseStyle';

@mixin ilnk-highlight{
    border-left: 10px solid $base-green;
    border-bottom: 1px solid $base-green;
    color: $base-green;
}

.left-side-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $base-border;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    min-width: 230px;

    li{
        margin: 0;
        padding: 10px 30px;
        span{
            margin-left: 10px;
        }
    }
    a{
        @include ilnk-highlight;
        border-color: transparent;
        text-decoration: none;
        color: inherit;
        &:hover{
            @include ilnk-highlight;
            border-left-color: transparent;
        }
    }
    a.active{
        @include ilnk-highlight;
    }
}