@import '../../baseStyle';

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    .main-content{
        display: flex;
        flex-direction: row;
        height: calc(100vh - 70px)
    }
}

@media (max-width: 575px){
    .App{
        .main-content{
            height: calc(100vh - 70px);
            overflow: hidden;
        }
    }
}