@import '../../baseStyle';
$border-radius: 2px;

.main-container{
    background-color: $base-gray;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    width: 100%;
    .info-container{
        width: 50%;
        min-width: 350px;
        max-width: 500px;
        background-color: $base-white;
        border-radius: $border-radius;
        border: 1px solid $base-border;
        .info-header{
            height: 35px;
            display: grid;
            grid-template-columns: auto auto;
            button{
                margin: 0;
                border: 0 solid white;
                background-color: $base-border;
                cursor: pointer;
                &.active{
                    background-color: $base-white;
                }
            }
            button:nth-child(1){
                border-radius: $border-radius 0 0 0;
            }
            button:nth-child(2){
                border-radius: 0 $border-radius 0 0;
            }
        }
        .info-tab{
            width: 100%;
            height: calc(100% - 35px);
            background-color: $base-white;
            border-radius: $border-radius;
            form{
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                padding-top: 20px;

                button{
                    width: 100px;
                    padding: 8px 0;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 15px;;
                    margin-bottom: 20px;
                    border-radius: $border-radius;
                    border: 1px solid $base-border;
                    background-color: $base-white;
                    &:hover{
                        //background-color: $base-green;
                        color: $base-green;
                        cursor: pointer;
                        border-color: $base-green;
                    }
                }
            }
        }
        .hidden{
            display: none;
        }
    }
}