@import '../../baseStyle';
$border-radius: 2px;

.main-container{
    background-color: $base-gray;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: scroll;
    h1{
        background-color: $base-green;
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        color: $base-white;
        font-size: 22px;
        font-weight: 500;
        padding: 10px 0;
    }
    .info-container{
        width: 50%;
        max-width: 500px;
        min-width: 350px;
        background-color: $base-white;
        border-radius: $border-radius;
        border: 1px solid $base-border;
        .info-header{
            height: 35px;
            display: grid;
            grid-template-columns: auto auto;
            button{
                margin: 0;
                border: 0 solid white;
                background-color: $base-border;
                cursor: pointer;
                &.active{
                    background-color: $base-white;
                }
            }
            button:nth-child(1){
                border-radius: $border-radius 0 0 0;
            }
            button:nth-child(2){
                border-radius: 0 $border-radius 0 0;
            }
        }
        .info-tab{
            width: 100%;
            height: calc(100% - 35px);
            background-color: $base-white;
            border-radius: $border-radius;
            form{
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                padding-top: 20px;

                button{
                    width: 100px;
                    padding: 8px 0;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 15px;;
                    margin-bottom: 20px;
                    border-radius: $border-radius;
                    border: 1px solid $base-border;
                    background-color: $base-white;
                    &:hover{
                        //background-color: $base-green;
                        color: $base-green;
                        cursor: pointer;
                        border-color: $base-green;
                    }
                    &:disabled{
                        border-color: lightgray;
                        color: lightgray;
                        cursor: unset;
                    }
                }
            }
        }
        .hidden{
            display: none;
        }
    }
}

@media (max-width: 575px){
    .info-container{
        min-width: 280px !important;
    }
}

@media (max-width: 370px){
    .info-container{
        min-width: 250px !important;
    }
}